div.ap-main {
    text-align: center
}

div.ap-center {
    display: inline-block;
}

table.ap-park {
    border: 1px solid lightgray;
    border-collapse: collapse;
    table-layout: fixed;
    width: 676px;
}

td.ap-park-cell {
    border: 1px solid lightgray;
    text-align: center;
    width: 46px;
    height: 46px;
    padding: 0px;
    color: darkgray;
}

div.ap-form {
    width: 320px;
    min-height: 500px;
    border: 1px solid darkgray;
    border-radius: 5px;
    margin: 15px 15px;
    float: left;
    text-align: left;
    padding: 15px;
}

div.btn-more-example {
    margin: 15px 0px;
}

div.ap-board {
    border: 1px solid darkgray;
    position: relative;
    float: left;
}

div.ap-car-plane {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 0px;
    height: 0px;
}

div.ap-car-taxi {
    position: absolute;
    width: 45px;
    height: 45px;
    background-image: url(../assets/taxi.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.4s;
}

div.ap-car-taxi.car-dir-north {
    transform: rotate(90deg);
}

div.ap-car-taxi.car-dir-south {
    transform: rotate(190deg);
}

div.ap-car-taxi.car-dir-west {
    transform: rotate(90deg);
}

div.ap-car-taxi.car-dir-north {
    transform: rotate(90deg);
}

div.ap-form div.form-group label {
    width: 100%;
}
