<div style="text-align:center">
  <h1>
    Automatic Parking System
  </h1>
</div>
<div class="ap-main">
  <div class="ap-center">
    <div class="ap-form">
      <div class="form-group">
        <div class="alert alert-info"
             [hidden]="hasError">
          <strong>Position</strong>: ({{lastPosition}})
        </div>
        <div class="alert alert-danger"
             [hidden]="!hasError">
          Errors in commands!
        </div>
      </div>

      <div class="form-group">
        <label>Commands:
          <input class="form-control"
                 type="text"
                 [(ngModel)]="commands"
                 (ngModelChange)="commandsChanged()">
        </label>
      </div>

      <div class="form-group">
        <label>Animations:
          <div class="radio">
            <label>
              <input type="radio"
                     name="speed"
                     [disabled]="!!timerSub"
                     [value]="800"
                     [(ngModel)]="animationSpeed"> Slow</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio"
                     name="speed"
                     [disabled]="!!timerSub"
                     [value]="300"
                     [(ngModel)]="animationSpeed"> Fast</label>
          </div>
        </label>
      </div>

      <div class="form-group">
        <div class="btn-group">
          <button class="btn btn-default"
                  [disabled]="!!timerSub"
                  (click)="playCommands()">Play</button>
          <button class="btn btn-default"
                  (click)="stepCommands()">Step</button>
          <button class="btn btn-default"
                  (click)="stopCommands()">Stop</button>
        </div>
      </div>

      <div class="form-group">
        <span>Examples:</span>
        <div class="btn-more-example">
          <div class="btn-group">
            <button class="btn btn-default"
                    (click)="example1()">Example1</button>
            <button class="btn btn-default"
                    (click)="example2()">Example2</button>
            <button class="btn btn-default"
                    (click)="example3()">Example3</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <span>More Examples:</span>
        <div class="btn-more-example">
          <button class="btn btn-default"
                  (click)="longTripClockwise()">Long Trip Clockwise</button>
        </div>
        <div class="btn-more-example">
          <button class="btn btn-default"
                  (click)="longTripCounterclockwise()">Long Trip Counterclockwise</button>
        </div>
        <div class="btn-more-example">
          <button class="btn btn-default"
                  (click)="longTripTopRightCorner()">Long Trip to Top Right</button>
        </div>
      </div>
    </div>

    <div class="ap-board">
      <table class="ap-park">
        <tbody>
          <tr class="ap-park-row"
              *ngFor="let row of rows">
            <td class="ap-park-cell"
                *ngFor="let col of cols">
              {{row}},{{col}}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="ap-car-plane">
        <div class="ap-car-taxi"
             *ngFor="let car of cars; trackBy: trackById"
             id="{{car.id}}"
             [style.left.px]="car.x"
             [style.top.px]="car.y"
             [style.transform]="car.transform"
             [style.opacity]="car.opacity"
             [style.backgroundColor]="car.backColor"
             [style.transition.s]="car.transition"></div>
      </div>
    </div>
  </div>
</div>
